{% extends 'base.html' %}
{% block content %}
  <h1>{{ person.username }}님의 프로필</h1>
  <p>팔로워 : {{ person.followers.count }}명</p>
  <p>팔로잉 : {{ person.followings.count }}명</p>
  {% if request.user in person.followers.all %}
    <a href="{% url 'follow' person.username %}"><i class="fas fa-heart">언팔로우</i></a>
  {% else %}
    <a href="{% url 'follow' person.username %}"><i class="far fa-heart">팔로우</i></a>
  {% endif %}

  {% for article in person.article_set.all %}
    <h2>{{ person.username }}님이 작성한 글</h2>
    <p>제목 :{{ article.title }}</p>
    <p>좋아여 : {{ article.like_users.all.count }}</p>
    <p>내용 : {{ article.content }}</p>
  {% endfor %}
{% endblock %}